@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #c1def8;
}

h3{
    color: black;
}

/* img{
    width: 100%;
} */
.icons {
    width: 12px;
    height: 12px;
    padding-top: 1.5px;
}

.container {
    width: 80%;
    margin: auto;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-card {
    background: #fff;
    width: 500px;
    height: fit-content;
    padding-top: 20px;
    border-radius: 5px;
}

.form-card .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form-card .email-input,
.form-card .password-input,
.form-card .full-name {
    display: flex;
    padding: 8px;
    border: 1px solid #b8c3cf;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type='password'],
input[type='email'],
input[type='text'] {
    width: 100%;
    padding-left: 5px;
    background: transparent;
    outline: none;
    border: none;
    
}

button {
    border: none;
    border-radius: 5px;
    
}

button:hover{
    background-color: #5aaaf0;
    color: cornsilk;
    
}

button.btn-signin {
    
    height: 35px;
    color:black;
    width: 100%;
}

form p {
    text-align: center;
    margin: 20px 0;
}

.google {
    width: 20px;
    /* height: 5px; */
    margin-right: 5px;

}

.google-btn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 25px;
    padding: 20px 0;
    background-color:rgb(238, 228, 228);
}

.signup-txt{
    text-align: center;
    margin: 50px 0;
}

.login-txt{
    text-align: center;
    margin: 50px 0;
}

.bouncing-loader {
    margin-bottom: 5px;
    margin-top: 20px;
    height: 5vh;
    /* background-color:coral; */ 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.bouncing-loader > span {
    width: 0.5rem;
    height: 0.5rem;
    background: #0275d8;
    border-radius: 50%;
    margin: 3rem 0.5rem;
    animation: bouncingLoader 0.9s linear infinite alternate; 
  }

  .bouncing-loader > span:nth-child(1) {
      animation-delay: 1s;
  }

  .bouncing-loader > span:nth-child(2){
      animation-delay: 1.2s;
  }

  .bouncing-loader >span:nth-child(3){
      animation-delay: 1.5s;
  }

@keyframes bouncingLoader{
    from{

        opacity: 1;
        transform: translateY(1rem);

    }
    to{
        opacity: 0.1;
        transform: translateY(-1rem);
    }

}

/* input:valid:required{
    border: 1px solid #bdbdbd;
} */










